<mat-toolbar color="primary" class="app-toolbar">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>￼
  <a routerLink="/list-user" routerLinkActive="active">
    <span class="example-icon">My Form</span>
  </a>
  <span class="example-spacer"></span>
  <a routerLink="/aboutus" routerLinkActive="active">
    <button mat-flat-button class="example-icon">About Us</button>
  </a>
  <a routerLink="/contactus" routerLinkActive="active">
    <button mat-flat-button class="example-icon">Contact Us</button>
  </a>

  <a routerLink="/project" routerLinkActive="active">
    <button mat-flat-button class="example-icon">Create Project</button>
  </a>

  <a routerLink="/logout" routerLinkActive="active">
    <button mat-flat-button class="example-icon">LogOut</button>
  </a>

</mat-toolbar>

<mat-sidenav-container class="demo-container">

  <mat-sidenav #sidenav mode="side" style="background: skyblue;width:250px">
    <div class="buttons">
      <a routerLink="/aboutus" routerLinkActive="active">
        <button mat-flat-button color="accent">About Us</button>
      </a>
    </div>
    <div class="buttons">
      <a routerLink="/contactus" routerLinkActive="active">
        <button mat-flat-button color="accent">Contact Us</button>
      </a>
    </div>

    <div class="buttons">
      <a [routerLink]="['/project', userId]" routerLinkActive="active">
        <button mat-flat-button color="accent">Project List</button>
      </a>
    </div>


    <!-- <div class="buttons">  Hello {{user[0].firstName}}</div>      
          <div class="buttons"><a routerLink="/edit-user" routerLinkActive="active"> <button mat-flat-button color="accent">Edit</button></a></div> -->
  </mat-sidenav>

  <router-outlet></router-outlet>
  <alert></alert>


</mat-sidenav-container>


<!-- <mat-toolbar color="primary" class="example-toolbar">
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        <h1 class="example-app-name">Responsive App</h1>
      </mat-toolbar>

<mat-sidenav-container class="example-container">
        <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
                     (closed)="events.push('close!')">
          Sidenav content
        </mat-sidenav>
      
        <mat-sidenav-content>
                <button (click)="_toggleSidebar()">Toggle sidebar</button>
                <router-outlet></router-outlet>
    <alert></alert>
        </mat-sidenav-content>
      </mat-sidenav-container> -->

<!-- <ng-sidebar-container style="height:900px;" >

    <!-- A sidebar -->
<!-- <ng-sidebar [(opened)]="_opened" mode="slide" >
        <div style="background-color:yellow; height:100%">
        <ul  >
          <li>Home</li>
          <li>Post</li>
          <li>Contact us</li>
          <li>About Us</li>
        </ul>
      </div>
      </ng-sidebar>

      <div ng-sidebar-content>
            <button (click)="_toggleSidebar()">Toggle sidebar</button>
            <router-outlet></router-outlet>
<alert></alert>
      </div>



</ng-sidebar-container> -->